body {
    margin: 0px;
}

#sideBySide {
    margin-top: var(--nav-height);
    display: flex;
    height: calc(100vh - var(--nav-height));
    overflow: hidden;
}

#myRidesCont {
    height: 100%;
    overflow: auto;
    width: 50%;
}

#rideEdit {
    border: none;
    width: 50%;
    background: #2f2f2f;
    margin: 5px 10px;
    border-radius: 10px;
    padding: 20px;
    transition-duration: .2s;
}

.viewerCard {
    padding: 10px;
    background: #2f2f2f;
    margin: 5px 15px;
    border-radius: 5px;
    transition-duration: .3s;
}

.viewerCard:hover {
    transform: scale(1.03);
    background: #333;
}

.rideTitle {
    font-weight: bold;
    font-size: 15pt;
    line-height: 1.5;
}

.rideTime b {
    color: red;
    font-weight: bolder;
    margin-left: 5px;
}

#closeEditor {
    position: fixed;
    top: var(--nav-height);
    left: 0px;
    border: none;
    background: transparent;
    color: #eee;
    font-size: 32pt;
    padding: 0px 10px;
    border-bottom-right-radius: 5px;
    transition-duration: .2s;
    display: none;
}

#closeEditor:hover {
    background: #fff3;
}

@media screen and (max-width: 600px) {

    iframe#rideEdit {
        display: none;
        width: 0%;
        margin: 0px;
        border-radius: 0px;
    }

    #rideEdit.mobileEdit {
        display: block;
        width: 100%;
    }
    
    div#myRidesCont {
        width: 100%;
    }

    #myRidesCont.mobileEdit {
        width: 0%;
        display: none;
    }

    #closeEditor.mobileEdit {
        display: block;
    }

}